
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Project 5 - Washington DC Data</title>
        
<!-- 

Sentra Template

https://templatemo.com/tm-518-sentra

-->
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="static/apple-touch-icon.png">

        <link rel="stylesheet" href="static/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="static/css/fontAwesome.css">
        <link rel="stylesheet" href="static/css/light-box.css">
        <link rel="stylesheet" href="static/css/owl-carousel.css">
        <link rel="stylesheet" href="static/css/templatemo-style.css">

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

        <script src="static/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>

<body>



        <header class="nav-down responsive-nav hidden-lg hidden-md">
            <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--/.navbar-header-->
            <div id="main-nav" class="collapse navbar-collapse">
                <nav>
                    <ul class="nav navbar-nav">
                        <li><a href="#top">Home</a></li>
                        <li><a href="#proj_back">Project Background</a></li>
                        <li><a href="#eda">EDA</a></li>
                        <li><a href="#modeling">Modeling</a></li>
                        <li><a href="#app">Interactive App</a></li>
                        <li><a href="#contact">Contact Us</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <div class="sidebar-navigation hidde-sm hidden-xs">
            <div class="logo">
                <a href="#"><em>DSI113020</em></a>
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="#top">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="#proj_back">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Project Background
                        </a>
                    </li>
                    <li>
                        <a href="#eda">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            EDA
                        </a>
                    </li>
                    <li>
                        <a href="#modeling">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Modeling
                        </a>
                    </li>
                    <li>
                        <a href="#app">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Interactive App
                        </a>
                    </li>
                    <li>
                        <a href="#contact">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Contact Us
                        </a>
                    </li>
                    <li>
                        <a href="#bib">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Bibliography
                        </a>
                    </li>
                </ul>
            </nav>
            <ul class="social-icons">
                <li><a href="#contact"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>

        <div class="slider">
            <div class="Modern-Slider content-section" id="top">
                <!-- Item -->
                <div class="item item-1">
                    <div class="img-fill">
                    <div class="image"></div>
                    <div class="info">
                        <div>
                            <h1 style="color:rgb(50, 252, 134)">Washington DC<br>School Performance Analysis</h1>
                            <p></p>
                            <div class="white-button button">
                                <a href="#bib">Data Sources</a>
                          </div>
                        </div>
                        </div>
                    </div>
                </div>
                <!-- // Item -->
                <!-- Item -->
                <div class="item item-2">
                    <div class="img-fill">
                        <div class="image"></div>
                        <div class="info">
                        <div>
                          <h1 style="background-color:rgb(68, 68, 68); color:rgb(227, 203, 255)">School Performance Predictions</h1>
                                                 
                          <div class="white-button button">
                              <a href="#modeling">Go to Predictions</a>
                          </div>
                        </div>
                        </div>
                    </div>
                </div>
                <!-- // Item -->
                <!-- Item -->
                <div class="item item-3">
                    <div class="img-fill">
                        <div class="image"></div>
                        <div class="info">
                        <div>
                          <h1 style="color:rgb(26, 129, 69)">Interactive Flask App</h1>
                          
                          <div class="white-button button">
                              <a href="/test">Launch App</a>
                          </div>
                        </div>
                        </div>
                    </div>
                </div>
                <!-- // Item -->
            </div>
        </div>


        <div class="page-content">
            <section id="proj_back" class="content-section">
                <div class="section-heading">
                    <h1><em>Project<br>Background</em></h1>
                    <p>Problem Statement: 
                    <br><u>Understand and predict the performance of Washington D.C. schools.</u></p>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div>
                            <ul>
                                <br>
                                <br>
                                <li>
                                    <h2>Washington DC schools are graded on a STAR rating.</h2>
                                </li>
                                <br>
                                <br>
                                <li>
                                    <h2>Identify independent features that impact this rating<h2>
                                </li>
                                <br>
                                <br>
                                <li>
                                    <h2>School performance can be used to direct funds and identify issues</h2>
                                </li>
                                <br>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <a href="static/img/us-capitol-small.jpg" data-lightbox="background_imgs"><img src="static/img/us-capitol-small.jpg" alt="image 3"></a>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <div class="row">
                    <div class="col-md-8">
                        <a href="static/img/star_rating.jpg" data-lightbox="background_imgs"><img src="static/img/star_rating.jpg" alt="image 3"></a>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <ul>
                                    <h2>Washington DC <u>STAR</u> Rating System</h2>
                                    <h1><em>S</em></h1>chool <h1><em>T</em></h1>ransparency <h1><em>A</em></h1>nd <h1><em>R</em></h1>eporting
                                <br>
                                <br>
                                <br>
                                <br>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                    </div>  
                </div>
                <div class= "row">
                    <div class="col-md-12">
                        <a href="https://osse.dc.gov/sites/default/files/dc/sites/osse/page_content/attachments/STAR%20Framework%20At-A-Glance_vFinal.pdf" >STAR Rating Explained</a>
                    </div>
                </div>
            
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <div>
                        <ul>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <li>
                                <h2>Data was gathered from edscape, CODE FOR DC, data.world</h2>
                            </li>
                            <br>
                            <br>
                            <br>
                            <br>
                            <li>
                                <h2><b>Project Managed through GitHub</b></h2>
                            </li>
                            <br>
                            <br>
                            <br>
                            <br>
                            <li>
                                <h2>Internal App created using Flask</h2>
                            </li>
                            <br>
                        </ul>
                    </div>
                </div>
                <div class="col-md-8">
                    <a href="static/img/artificial-intelligence.jpg" data-lightbox="background_imgs"><img src="static/img/artificial-intelligence.jpg" alt="image 3"></a>
                </div>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            </section>
            <section id="eda" class="content-section">
                <div class="section-heading">
                    <h1><em>EDA</em></h1>
                    <p>Top Findings while Exploring Data 
                    <br></p>
                </div>
                <div class="section-content">
                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="image">
                                <a href="/static/img/EDA_img/img_1.png" data-lightbox="image"><img src="/static/img/EDA_img/img_1.png" alt=""></a>
                            </div>
                            <div class="text-content">
                                <h4>School Locations, DC Metro Area</h4>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <a href="/static/img/EDA_img/img_2.png" data-lightbox="image"><img src="/static/img/EDA_img/img_2.png" alt=""></a>
                            </div>
                            <div class="text-content">
                                <h4>Public and Private School Locations</h4>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <a href="/static/img/EDA_img/keith_public_by_star_1718.png" data-lightbox="image"><img src="/static/img/EDA_img/keith_public_by_star_1718.png" alt=""></a>
                            </div>
                            <div class="text-content">
                                <h4>Public Schools by STAR Rating</h4>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <a href="/static/img/EDA_img/img_4.png" data-lightbox="image"><img src="/static/img/EDA_img/img_4.png" alt=""></a>
                            </div>
                            <div class="text-content">
                                <h4>School Count by STAR Rating</h4>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <a href="/static/img/EDA_img/img_5.png" data-lightbox="image"><img src="/static/img/EDA_img/img_5.png" alt=""></a>
                            </div>
                            <div class="text-content">
                                <h4></h4>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <a href="/static/img/EDA_img/img_7.png" data-lightbox="image"><img src="/static/img/EDA_img/img_7.png" alt=""></a>
                            </div>
                            <div class="text-content">
                                <h4></h4>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <a href="/static/img/EDA_img/img_6.png" data-lightbox="image"><img src="/static/img/EDA_img/img_6.png" alt=""></a>
                            </div>
                            <div class="text-content">
                                <h4></h4>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <a href="/static/img/EDA_img/img_8.png" data-lightbox="image"><img src="/static/img/EDA_img/img_8.png" alt=""></a>
                            </div>
                            <div class="text-content">
                                <h4></h4>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <a href="/static/img/EDA_img/img_9.png" data-lightbox="image"><img src="/static/img/EDA_img/img_9.png" alt=""></a>
                            </div>
                            <div class="text-content">
                                <h4></h4>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <a href="/static/img/EDA_img/img_10.png" data-lightbox="image"><img src="/static/img/EDA_img/img_10.png" alt=""></a>
                            </div>
                            <div class="text-content">
                                <h4></h4>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <a href="/static/img/EDA_img/img_11.png" data-lightbox="image"><img src="/static/img/EDA_img/img_11.png" alt=""></a>
                            </div>
                            <div class="text-content">
                                <h4></h4>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <a href="/static/img/EDA_img/img_12.png" data-lightbox="image"><img src="/static/img/EDA_img/img_12.png" alt=""></a>
                            </div>
                            <div class="text-content">
                                <h4></h4>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <a href="/static/img/EDA_img/img_13.png" data-lightbox="image"><img src="/static/img/EDA_img/img_13.png" alt=""></a>
                            </div>
                            <div class="text-content">
                                <h4></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>           
            </section>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <section id="modeling" class="content-section">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-heading">
                            <h1>Modeling<em><br>and Predictions</em></h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div>
                                <h1><b>Modeling</b></h1><br>
                                <h1><em>Null Model</em></h1>
                                <ul>
                                    <li>
                                        <h3>Star Rating 5 - 13%</h3>
                                    </li>
                                    <li>
                                        <h3>Star Rating 4 - 15%<h3>
                                    </li>
                                    <li>
                                        <h3><b>Star Rating 3 - 32%</b></h3>
                                    </li>
                                    <li>
                                        <h3>Star Rating 2 - 26%</h3>
                                    </li>
                                    <li>
                                        <h3>Star Rating 1 - 13%</h3>
                                    </li>
                                    <br>
                                </ul>
                            </div>
                        </div>
                        <div class="col-ri-4">
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <a href="/static/img/count_star_rate_SY1718.png" data-lightbox="image_modeling"><img src="/static/img/count_star_rate_SY1718.png"  width=66% margin = auto></a>
                        </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="row">
                        <div class="col-l-12" width=33%>
                            <div>
                                <ul>
                                        <h1>Washington DC <u>STAR</u> Rating System</h1>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                        </div>  
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class= "row">
                        <div class="col-md-12" style="width:auto; text-align:left">
                        <ul>
                            <li>
                                <h2>We are treating this as a regression problem, not a classification problem</h2>
                            </li>
                            <li>
                                <h2>We tried several models:</h2>
                            </li>
                        </ul> <br>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class= "row" style="padding:30pt">
                        <h2>
                        <div class="col-md-6" style="text-align:center">
                            <b>Models that performed well:</b>
                            <br>
                                    Ridge
                                <br>
                                    Random Forest GridsearchCV 
                                <br>
                                    Neural Network
                                <br>
                        </div>
                        <div class="col-ri-4" style="text-align:center">
                           <b>Models that did not perform well:</b>
                           <br>
                                    Lasso
                                <br>
                                    Bagged Trees
                                <br>
                                    Gradient Boost
                                <br>
                        </div>
                        </h2>
                    </div>
                
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <div class="row">
                    <div class="col-md-4">
                        <h2><b>Ridge Model</b></h2>
                        <div>
                            <ul>
                                <br>
                                <br>
                                <li>
                                    <h2>R2 score: 0.73</h2>
                                </li>
                                <br>
                                <br>
                                <li>
                                    <h2>Explained Variance: 0.74</h2>
                                </li>
                                <br>
                                <br>
                                <li>
                                    <h2>Mean Squared Error: 0.44</h2>
                                </li>
                                <br>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <a href="static/img/ridge_preds_new.png" data-lightbox="image_modeling"><img src="static/img/ridge_preds_new.png" alt="image 3" width=55% margin=auto></a>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <div class="row">
                    <div class="col-md-4">
                        <h2><b>Random Forest Model</b></h2>
                        <div>
                            <ul>
                                <br>
                                <br>
                                <li>
                                    <h2>R2 score: 0.66</h2>
                                </li>
                                <br>
                                <br>
                                <li>
                                    <h2>Explained Variance: 0.70</h2>
                                </li>
                                <br>
                                <br>
                                <li>
                                    <h2>Mean Squared Error: 0.54</h2>
                                </li>
                                <br>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="col-md-8">
                        <a href="static/img/random_forest_preds_new.png" data-lightbox="image_modeling"><img src="static/img/random_forest_preds_new.png" alt="image 3" width=55% margin=auto></a>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <h2><em>Neural Network:</em></h2>
                <br>
                <div class="row">
                    <div class="col-md-4">
                        <h2 style="color:indigo"><b>Neural Network Structure:</b></h2>
                        <br>
                        <a href="static/img/neural_network_structure.png" data-lightbox="image_modeling"><img src="static/img/neural_network_structure.png" alt="image 3" width=100% margin=auto></a>
                    </div>
                    
                    <div class="col-md-8">
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <a href="static/img/neural_network_new.png" data-lightbox="image_modeling"><img src="static/img/neural_network_new.png" alt="image 3" width=70% margin=auto></a>
                        <br>
                        <h2 style="color:indigo"><b>Neural Network Performance</b></h2>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <h2><b>Feature Importance:</b></h2>
                <br>
                <div class="row">
                    <div class="col-md-6" style="text-align:left">
                        <br>
                        <br>
                        <h2><b>Top 5 Features:</b>
                            <ul>
                                <li>
                                    Percent of Students Meeting or Exceeding Math Requirements '18-'19
                                </li>
                                <li>
                                Percent of Students Meeting or Exceeding Math Requirements '17-'18 
                                </li>
                            
                                <li>
                                Percent of Students Meeting or Exceeding ELA Requirements '18-'19
                                </li>
                            
                                <li>
                                Percent of Students having 20+ Truant Days
                                </li>
                            
                                <li>
                                    Neighborhood Cluster
                                </li>
                                <br>
                            </ul>
                        <br>
                        <b>Bottom 5 Features:</b>
                            <ul>
                                <li>
                                    Enrollment
                                </li>
                                <li>
                                    Capacity
                                </li>
                            
                                <li>
                                Budgeted Enrollment
                                </li>
                            
                                <li>
                                Budgeted Amount
                                </li>
                            
                                <li>
                                Percent of Students having 0 Truant Days
                                </li>
                                <br>
                            </ul>
                        </h2>
                    </div>
                    <div class="col-md-6" style="text-align:left">
                        <a href="static/img/math_test_unsplash.jpg" data-lightbox="image_modeling"><img src="static/img/math_test_unsplash.jpg" alt="image 3" width=70% margin=auto></a>
                    </div>
                    <br>
                    <br>
                    <div class="col-md-6" style="text-align:left">
                        <br>
                        <br>
                        <br>
                        <a href="static/img/pen.jpg" data-lightbox="image_modeling"><img src="static/img/pen.jpg" alt="image 3" width=70% margin=auto></a>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
            </section>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <section id="app" class="content-section">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-heading">
                                <h1>Interactive <em>App</em></h1>
                                <br>
                        </div>
                        <div class="text-content">
                            <p>Please see our App Demo Below.</p>
                        </div>
                        <div class="item">
                            <div class="col-ri-8">
                                <p><a href="/test"><button type="home">Go to App</button></a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <section id="contact" class="content-section">
                <div id="contact-content">
                    <div class="section-content">
                        <div class="owl-carousel owl-theme">
                            <div class="item">
                                <div class="image">
                                    <img src="static/img/john_b.jpeg" alt="">
                                    <div class="featured-button button">
                        
                                    </div>
                                </div>
                                <div class="text-content">
                                    <h4>John Bruscella</h4>
                                    <span>Data Scientist</span>
                                    <p><a href="https://www.linkedin.com/in/john-bruscella/">LinkedIn Profile</a></p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="image">
                                    <img src="static/img/keith_k.jpeg" alt="">
                                </div>
                                <div class="text-content">
                                    <h4>Keith Kruelskie</h4>
                                    <span>Data Scientist</span>
                                    <p><a href="https://www.linkedin.com/in/keithkruelskie/">LinkedIn Profile</a></p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="image">
                                    <img src="static/img/rebecca_w.jpeg" alt="">
                                </div>
                                <div class="text-content">
                                    <h4>Rebecca Wright</h4>
                                    <span>Data Scientist</span>
                                    <p><a href="https://www.linkedin.com/in/the-wright-data-geek/">LinkedIn Profile</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <section id="bib" class="content-section">
                <div class="section-heading">
                    <h1><em>Bibliography<br>And Sources</em></h1>
                    </div>
                <div class="section-content">
                        <div class="item">
                            <div class="text-content">
                                <h4>Data Sources:</h4>
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="item">
                            <div class="text-content">
                                <h4><a href = "https://osse.dc.gov/sites/default/files/dc/sites/osse/page_content/attachments/STAR%20Framework%20At-A-Glance_vFinal.pdf">Star Calculations for DC Schools</a><br>
                                </h4>
                                <span></span>
                                <p></p>
                            </div>
                            <br>
                            <div class="text-content">
                                <a href ="https://edscape.dc.gov/"><h4>edscape</a> <br>
                                </h4>
                                <span></span>
                                <p></p>
                            </div>
                            <br>
                            <div class="text-content">
                                <a href ="https://data.world/codefordc/dc-neighborhood-cluster-demographics"><h4>DC Neighborhood Cluster Demographics</a> <br>
                                </h4>
                                <span></span>
                                <p></p>
                            </div>
                            <br>
                            <div class="text-content">
                                <a href ="https://data.world/codefordc/neighborhood-school-attendance-cluster-mapping"><h4>School Residential Cluster Data</a> <br>
                                </h4>
                                <span></span>
                                <p></p>
                            </div>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                        </div>
                </div>
            </section>
            <section class="footer">
                <p>DSI Group 3 Project 5
            </section>
        </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="static/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="static/js/vendor/bootstrap.min.js"></script>
    
    <script src="static/js/plugins.js"></script>
    <script src="static/js/main.js"></script>

    <script>
        // Hide Header on on scroll down
        var didScroll;
        var lastScrollTop = 0;
        var delta = 10;
        var navbarHeight = $('header').outerHeight();

        $(window).scroll(function(event){
            didScroll = true;
        });

        setInterval(function() {
            if (didScroll) {
                hasScrolled();
                didScroll = false;
            }
        }, 250);

        function hasScrolled() {
            var st = $(this).scrollTop();
            
            // Make sure they scroll more than delta
            if(Math.abs(lastScrollTop - st) <= delta)
                return;
            
            // If they scrolled down and are past the navbar, add class .nav-up.
            // This is necessary so you never see what is "behind" the navbar.
            if (st > lastScrollTop && st > navbarHeight){
                // Scroll Down
                $('header').removeClass('nav-down').addClass('nav-up');
            } else {
                // Scroll Up
                if(st + $(window).height() < $(document).height()) {
                    $('header').removeClass('nav-up').addClass('nav-down');
                }
            }
            
            lastScrollTop = st;
        }
    </script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>

</body>
</html>